.card {
	width: 200px;
	height: 300px;
	margin: 3% 2.5%;
	color: #000;
	background-color: #fff;
	border: var(--maincolor) solid 1px;
	box-shadow: 2px 2px 2px #333;
	border-radius: 3px;
	display: flex;
	justify-content: space-around;
	cursor: pointer;
}

.card:hover {
	box-shadow: 6px 6px 2px var(--maincolor);
	background-color: var(--activeLinkLight);
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	width: 95%;
}

.description {
	overflow: auto;
}

.workType {
	padding: 1% 5%;
	border-radius: 100px;
	border: #000 1px solid;
}

.ONGOING {
	background-color: hsl(100, 50%, 50%);
}

.COMPLETED {
	background-color: hsl(0, 50%, 50%);
}

.SUSPENDED {
	background-color: hsl(51, 50%, 50%);
}

.ABORTED {
	background-color: hsl(0, 0%, 48%);
}
