.ldsDualRing {
	display: inline-block;
	width: 64px;
	height: 64px;
}

.ldsDualRing:after {
	content: ' ';
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid black;
	border-color: var(--maincolor) transparent var(--maincolor) transparent;
	animation: ldsDualRing 1.2s linear infinite;
}

.loadingSpinner__overlay {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: hsla(0, 0%, 0%, 60%);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

@keyframes ldsDualRing {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
