:root {
	/* App commons */
	--background: #282c34;
	--bgContrast: white;
	--text: white;
	--activeLink: #61dafb;
	--backdrop: rgba(40, 44, 52, 0.75);
	--overlay: #3c5280;
	--overlayBg: rgba(220, 230, 255, 0.9);
	/* --overlayBg: rgba(255, 255, 255, 0.9); */

	/* Elemetns */
	--StandardBgColor: #61dafb;
	--DangerBgColor: crimson;

	/* Button */
	--ButtonStdBgColor: #61dafb;
	--ButtonStdTxtColor: #282c34;
	--ButtonDngrBgColor: crimson;
	--ButtonDngrTxtColor: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::after,
::before {
	box-sizing: border-box;
}

html {
	max-height: 100vh;
	overflow: hidden;
	line-height: 1.5rem;
	font-size: 18px;
}

.App {
	display: flex;
	align-items: center;
	justify-content: center;
}
